<div  *ngIf="currentEmail">
  <md-toolbar>
    <span>Actions</span>
    <span class="toolbarSpacer"></span>
    <md-icon>assignment_returned</md-icon>
  </md-toolbar>
  <md-card class="card">
    <md-card-header>
      <md-card-title>Status:
        <md-chip selected="true">{{currentEmail.status}}</md-chip>
        <md-chip-list></md-chip-list>
      </md-card-title>
    </md-card-header>
    <md-card-content>
      <div class="missing" *ngIf='itemsMissing.length > 0'>
        <md-list dense>
          <h3 md-subheader>Missing</h3>
          <md-list-item *ngFor="let item of itemsMissing">
            <md-icon color='warn' md-list-icon>warning</md-icon>
            <h4 md-line>{{item}}</h4>
            <p md-line>Please add the {{item}} to submit</p>
          </md-list-item>
        </md-list>
      </div>

      <md-input-container *ngFor='let entity of currentEntities'>
        <input mdInput placeholder="{{entity.name}}" value="{{entity.value}}">
      </md-input-container>
    </md-card-content>
    <md-card-actions>
      <md-chip class="completedChip" mdTooltip="This process was automated" color="accent" selected="true" *ngIf='currentEmail.status == "Complete"'>Automated!</md-chip>
      <button mdTooltip="Submit to Complete this process" (click)="submit()" *ngIf='itemsMissing.length === 0 && currentEmail.status !=="Complete"' md-button>Submit</button>
      <span mdTooltip="Please ensure all entities are complete to submit" *ngIf='itemsMissing.length > 0'>
        <button (click)="submit()" disabled="disabled" md-button>Submit</button>
      </span>
    </md-card-actions>
  </md-card>

</div>
