<div class="panel panel-primary" *ngIf="currentEmail">
  <div class="panel-heading">
    <h3 class="panel-title">Reply</h3>
    <h6>To: {{currentEmail.from}}</h6>
  </div>
  <div class="panel-body">
    <div id="responseArea" contenteditable>
      <div class="preset" *ngIf="itemsMissing.length > 0">
        <span>Hi,</span>
        <br>
        <br>
        <span>Thank you for sending this through; however, we are missing a few items. Could you please provide us with the following:</span>
        <br>
        <br>
        <span>
          <ul>
            <li *ngFor='let item of itemsMissing'>{{item}}</li>
          </ul>
        </span>
        <br>
        <span>Thank you!</span>
      </div>
    </div>
    <div class="btn-group">
      <button (click)='sendReply()' type="button" class="btn btn-primary">Send</button>
    </div>
  </div>
</div>
