<!-- Navigation -->
<nav id="sidebar-wrapper" [class.active]="sidebarOpen">
    <ul class="sidebar-nav">
        <a id="menu-close" (click)="closeSidebar()" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
        <li class="sidebar-brand">
            <a>Start Bootstrap</a>
        </li>
        <li>
            <a routerLink="../bs-simple-sidebar">Templates Home</a>
        </li>
        <li>
            <a>About</a>
        </li>
        <li>
            <a>Services</a>
        </li>
        <li>
            <a>Portfolio</a>
        </li>
        <li>
            <a>Contact</a>
        </li>
    </ul>
</nav>
