<h1 md-dialog-title>Email Automation Accelerator</h1>
<md-dialog-content>
  <p>This Accelerator showcases Watson powered automation for email actions and responses. It leverages Watson Conversation Service to identify the intent of the email, then uses a Watson Knowledge Studio custom annotation model through Natural Language Understanding to extract key information for automating requests.</p>
  <table>
    <tr>
      <td><img src="../assets/img/watson/watson_w.png" alt="Watson"></td>
      <td>
        <br>
        <p>The Accelerator demonstrates two email automation scenarios; the first is automating the addition of drivers to insurance policies and the second is automating tickets for workstation management departments.</p>
        <p>You can switch between the two scenarios with the menu dropdown at the top right of the nav bar.</p>
      </td>
    </tr>
  </table>
  <br>
  <h4>Components</h4>
  <div class="componentRow">
    <div class="col-md-3">
      <img class='componentImage' src="../assets/img/components/conv.png" alt="WCS">
      <p class='componentText'>Watson Conversation Service</p>
    </div>
    <div class="col-md-3">
      <img class='componentImage' src="../assets/img/watson/watson_w.png" alt="WKS">
      <p class='componentText'>Watson Knowledge Studio</p>
    </div>
    <div class="col-md-3">
      <img class='componentImage' src="../assets/img/components/NLU.png" alt="NLU">
      <p class='componentText'>Natural Language Understanding</p>
    </div>
  </div>
  <br>
  <p>You can find more Accelerators here: <a color='primary' md-raised-button href="https://watsonaccelerators.mybluemix.net/" target="_blank">Watson Accelerator Portal</a></p>
</md-dialog-content>
