<md-toolbar>
  <span>{{currentDemo.companyName}}</span>
  <span class="spacer"></span>
  <span>
    <button md-button [mdMenuTriggerFor]="menu">Menu</button>
  </span>
</md-toolbar>

<md-menu #menu="mdMenu" [overlapTrigger]="false">
  <button md-menu-item *ngFor="let demo of demos" (click)="switchDemo(demo)" mdTooltip="Switch demo to {{demo.name}}" mdTooltipPosition="left">
    <md-icon>{{demo.icon}}</md-icon>
    <span>{{demo.name}}</span>
  </button>
  <md-list>
    <md-divider></md-divider>
  </md-list>
  <button md-menu-item (click)="openInfoDialog()" mdTooltip="Information about the Email Automation Accelerator" mdTooltipPosition="left">
    <md-icon>info</md-icon>
    <span>About</span>
  </button>
</md-menu>

<!-- <nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/dashboard" class="navbar-brand" class="logoAtag">
        <div *ngIf="currentDemo.companyName == 'ACME Insurance'">
          <img class="logoImage" src="../../../assets/img/logos/armorInsurance_logo.png" alt="{{currentDemo.companyName}}">
        </div>
        <div *ngIf="currentDemo.companyName == 'GBM Workstation Management'">
          <img class="logoImage" src="../../../assets/img/logos/GBM_logo.png" alt="{{currentDemo.companyName}}">
        </div>
        <div *ngIf="currentDemo.companyName !== 'ACME Insurance' && currentDemo.companyName !== 'GBM Workstation Management'">
          {{currentDemo.companyName}}
        </div>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a>Email Automation Accelerator</a></li>
        <li dropdown (onShown)="onShown()" (onHidden)="onHidden()" (isOpenChange)="isOpenChange()">
          <a href dropdownToggle (click)="false">Menu</a>
            <ul *dropdownMenu class="dropdown-menu">
              <li>
                <a class="dropdown-item">Switch Demo</a>
              </li>
              <li class="divider dropdown-divider"></li>
              <li *ngFor="let demo of demos">
                <a class="dropdown-item" (click)="switchDemo(demo)">{{demo.name}}</a>
              </li>
            </ul>
        </li>
      </ul>
    </div>
  </div>
</nav> -->
