<md-toolbar>
  <span><img [src]="fullImagePath"></span>
  <span class="spacer"></span>
  <span>
    <button md-button routerLink="/dashboard/overview" routerLinkActive="buttonActive">
      <md-icon>dashboard</md-icon>
      <span>Overview</span>
    </button>
    <button md-button routerLink="/dashboard/emails" routerLinkActive="buttonActive">
      <md-icon>email</md-icon>
      <span>Emails</span>
    </button>
    <button md-button routerLink="/dashboard/settings" routerLinkActive="buttonActive">
      <md-icon>settings</md-icon>
      <span>Settings</span>
    </button>
    <button md-button [mdMenuTriggerFor]="menu">Menu</button>
  </span>
</md-toolbar>

<md-menu #menu="mdMenu" [overlapTrigger]="false">
  <button md-menu-item *ngFor="let demo of demos" (click)="switchDemo(demo)" mdTooltip="Switch demo to {{demo.name}}" mdTooltipPosition="left">
    <md-icon>{{demo.icon}}</md-icon>
    <span>{{demo.name}}</span>
  </button>
  <md-list>
    <md-divider></md-divider>
  </md-list>
  <button md-menu-item (click)="openInfoDialog()" mdTooltip="Information about the Email Automation Accelerator" mdTooltipPosition="left">
    <md-icon>info</md-icon>
    <span>About</span>
  </button>
</md-menu>
