<app-navbar></app-navbar>

<div id="wrapper" [class.toggled]="isToggled">

  <app-app-sidebar (onToggled)="onToggled()"></app-app-sidebar>

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <h1>Email Analysis Automation</h1>
        </div>
        <div class="col-lg-6">
          <app-email-view></app-email-view>
          <app-response></app-response>
        </div>
        <div class="col-lg-6">
          <app-summary></app-summary>
          <app-actions></app-actions>
        </div>
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
