.pageWrapper{
  margin-top: 64px;
  background-color:#fff;
  /*background-image: url('./../../assets/img/background/luft.jpg');*/
  height:calc(100vh - 64px);
  display: flex;
}

.pageContent{
  display: flex;
  height:100%;
  overflow: scroll;
}

.pageColumn{
  padding: 1em;
  display: flex;
  flex-direction: column;
}

