<div class="sideNav">
  <md-toolbar>
    <span>Emails</span>
    <span class="spacer"></span>
    <span><button md-button (click)="refreshEmails()" mdTooltip="Refresh emails"><i class="material-icons">refresh</i></button></span>
  </md-toolbar>
  <md-card>
    <md-spinner *ngIf="loading"></md-spinner>
    <md-nav-list dense>
      <md-list-item *ngFor="let email of emails" (click)="activateEmail(email)">
        <md-icon md-list-icon>email</md-icon>
        <h4 md-line>{{email.subject}}</h4>
        <p md-line> {{email.requestType}} | <span>{{email.status}}</span></p>
      </md-list-item>
    </md-nav-list>
  </md-card>
</div>
