.sideNav{
  width: 308px;
  height:100%;
  display: flex;
  flex-direction: column;
}
.spacer{
  flex:1 1 auto;
}

md-card{
  flex:auto;
  display: flex;
  justify-content: center;
  overflow: scroll;
  color:#016;
}
md-toolbar{
  background: #ebebeb;
  color: #016;
}

.mat-line{
  color: #016; 
}

md-icon{
  color: #016;   
}