<div *ngIf="currentEmail">
  <md-toolbar>
    <span>Summary</span>
    <span class="toolbarSpacer"></span>
    <md-icon>sort</md-icon>
  </md-toolbar>
  <md-card class="card" *ngIf="currentEmail">
    <md-card-header>
      <md-card-title>Request Type:
        <md-chip selected="true">{{currentEmail.requestType}}</md-chip>
        <md-chip-list></md-chip-list>
      </md-card-title>
    </md-card-header>
    <md-card-content>
      <md-input-container *ngFor='let entity of currentEntities'>
        <input mdInput placeholder="{{entity.name}}" [(ngModel)]="entity.value">
      </md-input-container>
    </md-card-content>
    <md-card-actions>
      <button (click)='updateEntities()' md-button>Update</button>
    </md-card-actions>
  </md-card>
</div>
