#allPageContent{
  background-image: url('../../../assets/img/background/dark-triangles.png');
  height: calc(100vh);
  overflow-y: scroll;
}

.intentsRow{
  background-color: whitesmoke;
}

.addToPolicy{
  color: turquoise;
}

.removePolicy{
  color: mediumpurple;
}

.modifyPolicy{
  color: deeppink;
}

.returnDevice{
  color: orangered;
}

.otherType{
  color: lightseagreen;
}

.alignCenter{
  text-align: center;
}

.intentStats{
  padding-top: 2em;
}

.whiteWell{
  background-color: white;
  padding: 3px;
  margin: 10px;
  border-radius: 15px;
}

.typeIncomplete{
  float: right;
}

.gridTileDiv{
  padding: 1em;
}

.spacer {
  flex: 1 1 auto;
}

.cardActions{
  display: flex;
}
.cardActionChips{}
.cardActionSpacer{
  flex:1;
}
.intentCardOpenButton{
  float:right;
}
