#allPageContent{
  /*background-image: url('../../../assets/img/background/dark-triangles.png');*/
  background-color:#fff;  
  height: calc(100vh);
  overflow-y: scroll;
}

.intentRow{
  display: flex;
  justify-content: space-around;
}

.addToPolicy{
  color: turquoise;
}

.removePolicy{
  color: mediumpurple;
}

.modifyPolicy{
  color: deeppink;
}

.returnDevice{
  color: orangered;
}

.otherType{
  color: lightseagreen;
}

.alignCenter{
  text-align: center;
}

.intentStats{
  padding-top: 2em;
}

.whiteWell{
  background-color: white;
  padding: 3px;
  margin: 10px;
  border-radius: 15px;
}

.typeIncomplete{
  float: right;
}

.cardHolder{
  padding: 1em;
  flex-grow:1;
}

.spacer {
  flex: 1 1 auto;
}

.cardActions{
  display: flex;
}
.cardActionChips{}
.cardActionSpacer{
  flex:1;
}
.intentCardOpenButton{
  float:right;
}
.c3-axis-x .tick {
    display: none;
}

.c3-axis-x{
  color:white important!;
}

md-card{
  color:#016;
}
md-toolbar{
  background: #ebebeb;
  color: #016;
}