<app-navbar></app-navbar>

<br><br><br>

<div class="container">
  <div class="row">
    <div class="panel panel-primary">
      <!-- Default panel contents -->
      <div class="panel-heading">Overview</div>
      <div class="panel-body">

        <table class="table">
          <tr>
            <td>Total Emails</td>
            <td>{{emails.length}}</td>
          </tr>
        </table>

        <table class="table">
          <th>Request Types</th>
          <tr *ngFor="let item of requestTypes">
            <td>{{item.name}}</td>
            <td>{{item.count}}</td>
          </tr>
        </table>

        <table class="table">
          <th>Status</th>
          <tr *ngFor="let item of statuses">
            <td>{{item.name}}</td>
            <td>{{item.count}}</td>
          </tr>
        </table>

        <table class="table">
          <th>Entity Breakdown</th>
          <tr>
            <td>Average Entities Extracted</td>
            <td>{{averageEntitiesExtracted}}</td>
          </tr>
          <tr>
            <td>Entity Extractions</td>
            <td>{{entityExtractionSuccess | percent}}</td>
          </tr>
          <tr>
            <td>Entity with most extractions</td>
            <td>{{mostEntitiesExtracted}}</td>
            <td>{{mostEntitiesExtractedPercentage | percent}}</td>
          </tr>
          <tr>
            <td>Entity most commonly missing</td>
            <td>{{leastEntitiesExtracted}}</td>
            <td>{{leastEntitiesExtractedPercentage | percent}}</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="btn-group">
      <button (click)="routeToEmails()" type="button" class="btn btn-primary">View Emails</button>
    </div>

  </div>
</div>
