#allPageContent{
  background-image: url('../../../assets/img/background/dark-triangles.png');
  /*background: #4AC29A;
  background: -webkit-linear-gradient(to top, #BDFFF3, #4AC29A);
  background: linear-gradient(to top, #BDFFF3, #4AC29A);*/
}

.container{
  background-color: white;
}

.intentsRow{
  background-color: whitesmoke;
}

.addToPolicy{
  color: turquoise;
}

.removePolicy{
  color: mediumpurple;
}

.modifyPolicy{
  color: deeppink;
}

.returnDevice{
  color: orangered;
}

.otherType{
  color: lightseagreen;
}

.alignCenter{
  text-align: center;
}

.intentStats{
  padding-top: 2em;
}

.whiteWell{
  background-color: white;
  padding: 3px;
  margin: 10px;
  border-radius: 15px;
}

.typeIncomplete{
  float: right;
}
