<div id="allPageContent">
  <app-navbar></app-navbar>

  <div class="container">
    <br><br><br><br>

    <md-toolbar>
      <span>Dashboard Overview</span>
      <span class='spacer'></span>
      <button md-button (click)="routeToEmails()">View Emails!</button>
    </md-toolbar>
    <div class="containerX">
      <div fxLayout="row wrap" class="colored box nopad" >
        <div class="gridTileDiv" fxFlex *ngFor='let type of requestTypes'>
          <md-card>
            <md-card-header>
              <md-card-title>Intent</md-card-title>
              <md-card-subtitle>Identified by Conversation Services</md-card-subtitle>
            </md-card-header>
            <!-- <img md-card-image src="assets/img/examples/shiba2.jpg"> -->
            <md-card-content>
              <h3>
                <i *ngIf='type.name == "ADD_TO_POLICY"' class="material-icons">note_add</i>
                <i *ngIf='type.name == "REMOVE_POLICY"' class="material-icons">remove_circle</i>
                <i *ngIf='type.name == "MODIFY_POLICY"' class="material-icons">mode_edit</i>
                <i *ngIf='type.name == "RETURN_DEVICE"' class="material-icons">assignment_return</i>
                <i *ngIf='type.name != "ADD_TO_POLICY" && type.name != "REMOVE_POLICY" && type.name != "MODIFY_POLICY" && type.name != "RETURN_DEVICE"' class="material-icons">explore</i>
                {{type.name}}
              </h3>
              <!-- <md-chip-list>
                <md-chip selected="true" mdTooltip="total {{type.name}} emails identified">Total Emails: {{type.count}}</md-chip>
              </md-chip-list> -->
            </md-card-content>
            <md-card-actions>
              <!-- <button md-button>LIKE</button>
              <button md-button>SHARE</button> -->
              <md-chip-list>
                <md-chip selected="true" mdTooltip="total {{type.name}} emails identified">Total Emails: {{type.count}}</md-chip>
                <md-chip color="accent" selected="true" mdTooltip="automated emails">{{type.complete}}</md-chip>
                <md-chip color="warn" selected="true" mdTooltip="needs attention">{{type.incomplete}}</md-chip>
              </md-chip-list>
            </md-card-actions>
          </md-card>
        </div>
      </div>
    </div>

    <md-toolbar mdTooltip="Intents indicate the type of email that was sent">Email Intents / Time</md-toolbar>
    <md-card>
      <div id="emailIntentsChart"></div>
    </md-card>

  </div>
<!--
  <div class="container">
    <div class="row">
      <div class="panel panel-primary">
        <div class="panel-heading">Overview</div>
        <div class="panel-body">

          <table class="table">
            <tr>
              <td>Total Emails</td>
              <td>{{emails.length}}</td>
            </tr>
          </table>

          <table class="table">
            <th>Request Types</th>
            <tr *ngFor="let item of requestTypes">
              <td>{{item.name}}</td>
              <td>{{item.count}}</td>
            </tr>
          </table>

          <table class="table">
            <th>Status</th>
            <tr *ngFor="let item of statuses">
              <td>{{item.name}}</td>
              <td>{{item.count}}</td>
            </tr>
          </table>

          <table class="table">
            <th>Entity Breakdown</th>
            <tr>
              <td>Average Entities Extracted</td>
              <td>{{averageEntitiesExtracted}}</td>
            </tr>
            <tr>
              <td>Entity Extractions</td>
              <td>{{entityExtractionSuccess | percent}}</td>
            </tr>
            <tr>
              <td>Entity with most extractions</td>
              <td>{{mostEntitiesExtracted}}</td>
              <td>{{mostEntitiesExtractedPercentage | percent}}</td>
            </tr>
            <tr>
              <td>Entity most commonly missing</td>
              <td>{{leastEntitiesExtracted}}</td>
              <td>{{leastEntitiesExtractedPercentage | percent}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div> -->

</div>
